.fondo-form {
  background-color: #dbc5ff;
  width: 95%;
  border-style: solid;
  border-color: #ebd9fc;
  border-width: 5px;
  padding: 2%;
}
.h2-form {
  color: white;
  text-align: center;
  margin: auto;
}
.control-label {
  @include letra;
}
.form-group {
  margin: 2%;
}
.boton-form {
  @include letra;
  background-color: white;
}
