#desktop {
  display: none;
}
.h2-p-m-s {
  color: white;
  background-color: $violeta2;
  width: 90%;
  text-align: center;
  margin: auto;
}
.container-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imagen1 {
  width: 70%;
  border-width: 5px;
  border-style: solid;
  border-color: #ebd9fc;
}
.div-img {
  text-align: center;
  margin: 0 6% 0 6%;
}
.sobre-nosotros {
  margin: 7%;
  text-align: center;
  width: 85%;
}
.sobre-nosotros-fondo {
  background-color: #dbc5ff;
  border-style: solid;
  border-color: #ebd9fc;
  border-width: 5px;
  padding: 30px;
}
.subtitulo {
  color: white;
}
.parrafo {
  @include letra;
}
span {
  color: white;
}
.span-footer {
  color: $violetafuerte;
}
.carousel {
  width: 90%;
  margin: auto;
}
.img-materiales {
  width: 90%;
  margin: auto;
  text-align: center;
}
.div-mat {
  text-align: center;
}
h3 {
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: #ebd9fc;
  color: $violetafuerte;
}
.p-materiales {
  width: 90%;
  text-align: center;
  margin: auto;
  color: $violetafuerte;
}
.caja-materiales {
  background-color: #dbc5ff;
  border-style: solid;
  border-color: #ebd9fc;
  padding: 2%;
  width: 90%;
  margin: auto;
}
.card {
  margin: 10px 25px;
  border-style: solid;
  border-width: 3px;
  border-color: $violeta2;
}
.card-body {
  background-color: #ebd9fc;
  color: $violetafuerte;
}
.col-sm-6 {
  width: 100%;
}
.fondo-descubri {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: #dbc5ff83;
}
#h3-index {
  margin-top: 25px;
  width: auto;
  height: 40px;
}
#links {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 15px;
}
#link {
  text-align: center;
  text-decoration: none;
  padding: 4%;
  margin: 5%;
  width: 150px;
  color: $violetafuerte;
  border-style: solid;
  border-color: $violeta2;
  background-color: #e3d1ff;
}
.h2-contacto {
  text-align: center;
  @include letra;
}
#fondo-contacto {
  background-color: #dbc5ff;
  height: auto;
  margin: 2%;
  border-style: solid;
  border-color: #ebd9fc;
  border-width: 5px;
  padding: 3%;
}
#redes {
  text-align: center;
}
.boton-redes {
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  border-color: $violeta2;
  background-color: #dbc5ff96;
}
.img-redes {
  width: 30px;
}
#fondo-contacto2 {
  width: 100%;
  height: auto;
  background-color: rgba(219, 197, 255, 0.5137254902);
  padding: 3%;
}
#whatsapp {
  text-align: center;
}
#num {
  color: $violetafuerte;
}
.img-shop {
  width: 220px;
  object-fit: cover;
}
